state space analysis/AURAdb/digitizers/plotDigitizer/appDesignerTempData_.*
AURA-Jared/
depricated/
Depricated/
*.bak
*.bak2
slprj/
*.autosave
*.asv
*slx.r2021a
*.slx.original
Releases/*.prj
AURAdb/digitizers/plotDigitizer/temp/
AURAdb/databases/@capacitorDB/capacitors.mat
Switched Mode Power Supply Toolbox.mltbx
AURA.prj